/* Paper Noir Theme Snippet */
/* Light Mode */
.theme-light {
  --background-primary: #f8f5eb;
  --background-secondary: #f2ebd9;
  --canvas-background: #f8f5eb;
  --canvas-border-color: #e5dcc7;
  --background-modifier-border: #e5dcc7;
  --background-modifier-cover: #f2ebd9;
  --color-accent: #c56e29;
  --hover-accent: #e48a52;
  --interactive-accent: #a95823;
  --text-selection: #d9b48c;
  --link-unresolved-color: #9e6d40;
  --alt-heading-color: #3d405b;
  --secondary-accent: #d9b48c;
  --canvas-max-width: 700px;
}

/* Dark Mode */
.theme-dark {
  --background-primary: #000000;
  --background-secondary: #0a0a0a;
  --canvas-background: #000000;
  --canvas-border-color: #1a1a1a;
  --background-modifier-border: #1a1a1a;
  --color-accent: #b18eff;
  --hover-accent: #ffd369;
  --interactive-accent: #9965ff;
  --text-selection: #ffd369;
  --link-unresolved-color: #4cd964;
  --alt-heading-color: #ff79c6;
  --secondary-accent: #60e0ff;
  --canvas-max-width: 700px;
}
